/* General Styles */

/* Base styles for all screen sizes (default, desktop or larger screens) */

/* Layout: Use Flexbox for a responsive, fluid layout */
.wrapper {
  margin: auto;
  width: 60em; /* 960px on large screens */
}

.header, .nav-ul {
  display: flex; /* Ensures elements are aligned horizontally */
  justify-content: space-between;
}

/* Navigation styles */
header li {
  width: 20%;
}

header .nav-ul a {
  font-size: 1.5em;
  padding: 1em;
}

/* Media Queries for Mobile */
@media only screen and (max-width: 768px) { /* Tablets and smaller screens */
  .wrapper {
    width: 100%; /* Full width on smaller screens */
    padding: 0 1em; /* Some padding for mobile devices */
  }

  header li {
    width: 100%; /* Stack list items vertically on mobile */
    text-align: center;
  }

  header .nav-ul {
    flex-direction: column; /* Stack navigation links vertically */
  }

  .button {
    font-size: 1em; /* Larger buttons on mobile */
    padding: 1em 2em;
  }

  .box {
    width: 100%; /* Full width for boxes on small screens */
    margin-bottom: 1em; /* Space between boxes */
  }

  .sec-intro h1 {
    font-size: 1.5em; /* Adjust title size */
    padding: .5em; /* Adjust padding for better readability */
  }

  .sec-events article {
    width: 100%; /* Stack events vertically */
    padding: 1em 0;
  }

  footer {
    padding: 1em 0;
  }
}

@media only screen and (max-width: 480px) { /* Small screens, like smartphones in portrait mode */
  header li {
    width: 100%; /* Full width for header items */
  }

  header .nav-ul a {
    padding: 1em 0;
    font-size: 1.2em; /* Adjust font size for better readability */
  }

  .sec-projects article,
  .sec-standards article {
    width: 100%; /* Stack articles vertically on mobile */
    padding: .5em 0;
  }

  .logo-container {
    width: 30%; /* Smaller logo container width for mobile */
    margin: 0 5%; /* Space between logos */
  }

  .box {
    width: 100%; /* Full width boxes */
    margin-bottom: 1em;
  }

  .copy {
    font-size: .75em; /* Smaller footer text */
  }
}
